header{
    background: plum;
    width: 100%;
}
section button{
    width: 4em;
    height: 4em;
    font-size: larger;
    font-weight: bolder;
    display: inline-block;
    background-color: plum;
}
#left{
    margin-right: 50%;
}
#right{
    margin-left:10%;
}

@media screen and (min-width: 480px){
    .divSlide{
        padding-left: 10%;
    }
    #left{
        margin-right: 40%;
    }
    #right{
        margin-left: 0%;
    }    
}